
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>AnhThawngs | Trang chủ</title>


<div ng-controller="HomeCtrl">
    <div ng-init="LoadLoaiLK()"></div>
    <div ng-init="LoadMenu()"></div>
    <div ng-init="LoadLK()"></div>
    <div ng-init="LoadTinTuc()"></div>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories" ng-controller="HomeCtrl">
                        <div ng-init="LoadLoaiLK()"></div>
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Tất cả danh mục</span>
                        </div>
                        <ul>
                            <li ng-repeat="item in listLoaiLK | LoaiLKCha | limitTo :12 :0">
                                <a href="/SanPham/DanhSach/?MaLoai={{item.MaLoai}}">{{item.TenLoai}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    Tất cả danh mục
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="Nhập sản phẩm cần tìm...">
                                <button type="submit" class="site-btn">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0379114366</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="/Assets/img/slide/slidepng.png">
                        @*<div class="hero__text">
                                <span>FRUIT FRESH</span>
                                <h2>Vegetable <br />100% Organic</h2>
                                <p>Free Pickup and Delivery Available</p>
                                <a href="#" class="primary-btn">MUA NGAY</a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3" ng-repeat="item in listLoaiLK | limitTo :9 :17">
                        <div class="categories__item set-bg" data-setbg="{{item.Anh}}" style="background-size: 90% 100%">
                            <h5><a href="/Sanpham/DanhSach/?MaLoai={{item.MaLoai}}">{{item.TenLoai}}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Danh sách sản phẩm</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Tất cả</li>
                            <li data-filter=".{{item.MaMenu}}" ng-repeat="item in listMenu">{{item.TenLoai}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix" ng-repeat="item in listLK | orderBy: '-Ma' | limitTo :20 :0" ng-class="appliedClass(item)">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{{item.Anh}}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}"><i class="fa fa-search-plus"></i></a></li>
                                <li><a href=""><i class="fa fa-shopping-cart" ng-click="addToCart(item)"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}">{{item.Ten}}</a></h6>
                            <h5>{{item.Gia | currency : 'VND' : 0}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/Assets/img/banner/banner-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/Assets/img/banner/banner-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Sản phẩm mới nhất</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item" ng-repeat="item in listLK | orderBy: '-Ma' | limitTo :4 :0">
                                <a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{item.Anh}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{item.Ten}}</h6>
                                        <span>{{item.Gia | currency : 'VND' : 0}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item" ng-repeat="item in listLK | orderBy: '-Ma' | limitTo :3 :3">
                                <a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{item.Anh}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{item.Ten}}</h6>
                                        <span>{{item.Gia | currency : 'VND' : 0}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item" ng-repeat="item in listLK | orderBy: '-Ma' | limitTo :3 :6">
                                <a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{item.Anh}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{item.Ten}}</h6>
                                        <span>{{item.Gia | currency : 'VND' : 0}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item" ng-repeat="item in listLK | orderBy: '-Ma' | limitTo :3 :9">
                                <a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{item.Anh}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{item.Ten}}</h6>
                                        <span>{{item.Gia | currency : 'VND' : 0}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Sản phẩm xem nhiều</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item" ng-repeat="item in listLK | orderBy: '-Xem' | limitTo :3 :0">
                                <a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{item.Anh}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{item.Ten}}</h6>
                                        <span>{{item.Gia | currency : 'VND' : 0}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item" ng-repeat="item in listLK | orderBy: '-Xem' | limitTo :3 :3">
                                <a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{item.Anh}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{item.Ten}}</h6>
                                        <span>{{item.Gia | currency : 'VND' : 0}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item" ng-repeat="item in listLK | orderBy: '-Xem' | limitTo :3 :6">
                                <a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{item.Anh}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{item.Ten}}</h6>
                                        <span>{{item.Gia | currency : 'VND' : 0}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Sản phẩm giá cao nhất</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item" ng-repeat="item in listLK | orderBy: '-Gia' | limitTo :3 :0">
                                <a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{item.Anh}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{item.Ten}}</h6>
                                        <span>{{item.Gia | currency : 'VND' : 0}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item" ng-repeat="item in listLK | orderBy: '-Gia' | limitTo :3 :3">
                                <a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{item.Anh}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{item.Ten}}</h6>
                                        <span>{{item.Gia | currency : 'VND' : 0}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item" ng-repeat="item in listLK | orderBy: '-Gia'  | limitTo :3 :6">
                                <a href="/SanPham/ChiTiet/?MaLK={{item.Ma}}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{item.Anh}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{item.Ten}}</h6>
                                        <span>{{item.Gia | currency : 'VND' : 0}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->
    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>Tin Tức</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="item in listTinTuc | orderBy: '-Ma' | limitTo :3 :0">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{{item.Anh}}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o">{{item.NgayDang}}</i></li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">{{item.TieuDe}}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
</div>
